# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Cython build
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# VS Code settings
.vscode/
.vscode/*

# PyCharm project files
.idea/
*.iml

# Log files
*.log

# Cache files
*.cache
*.mypy_cache/
*.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
